@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

details{
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: "Rubik";
   font-size: 14px;
   letter-spacing: 1px;
   cursor: pointer;
}
body {
    background-image: url("imaghhe.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
 background-size: cover ;
  }